#This is a basic workflow to help you get started with Actions

name: CI-CD

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  pull_request:
    branches: 
      - 'main' 
  
defaults:
  run:
    working-directory: ./

jobs:
  # test:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@master
  #     - uses: actions/setup-node@master
  #       with:
  #         node-version: "12"
  #     - name: Install dependencies
  #       run: npm ci
  #     - name: Unit tests w/ coverage
  #       run: npm run test -- --coverage --passWithNoTests
  #     - name: LINTing
  #       run: npm run lint -- --quiet -f codeframe
  #     - name: Prettier
  #       run: npm run format -- --check
  #     # - name: Upload coverage report
  #     #   env:
  #     #     CC_TEST_REPORTER_ID: ${{ secrets.TestReporterID }}
  #     #     CI: "true"
  #     #   run: |
  #     #     curl -Ls https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  #     #     chmod +x ./cc-test-reporter
  #     #     ./cc-test-reporter format-coverage -t lcov -o codeclimate.json
  #     #     ./cc-test-reporter upload-coverage -i codeclimate.json
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: "12"
      - name: Build
        run: |
          oc version
          oc login --token=${{ secrets.OPENSHIFT_TOKEN}} --server=${{ secrets.OPENSHIFT_URL }}
          oc -n ca94a8-tools process -f openshift/client/bc.yaml -p "branchref=${{github.head_ref}}" | oc -n ca94a8-tools apply -f -
          oc -n ca94a8-tools process -f openshift/server/bc.yaml -p "branchref=${{github.head_ref}}" | oc -n ca94a8-tools apply -f -
          
        env:
          CI: "true"
          
  deploy-to-dev:
    needs: [build]
    environment:
     name: dev
    runs-on: ubuntu-latest    
    defaults:
      run:
        working-directory: ./app/.pipeline
    steps:

      # Build the image using the specified build config
      # Get its build ID
      # Get the commit ID of that build
      # Get the SHA256 signature of the image
      # Tag the image with the commit ID and "dev"
      # ------------------------------------------------
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: "12"
      - name: Deploy the image
        run: |
          oc version
          oc login --token=${{ secrets.OPENSHIFT_TOKEN}} --server=${{ secrets.OPENSHIFT_SERVER_URL }}
          oc -n ca94a8-dev process -f openshift/client/dc.yaml -p "branchref=${{github.head_ref}}" | oc -n ca94a8-tools apply -f -
          oc -n ca94a8-dev process -f openshift/server/dc.yaml -p "branchref=${{github.head_ref}}" | oc -n ca94a8-tools apply -f -
  deploy-to-test:
    needs: [build,deploy-to-dev]
    environment:
      name: test
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./app/.pipeline
    steps:

      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: "12"
      - name: Deploy the image
        run: |
          oc version
          oc login --token=${{ secrets.OPENSHIFT_TOKEN}} --server=${{ secrets.OPENSHIFT_SERVER_URL }}
          oc -n ca94a8-test process -f openshift/client/dc.yaml -p "branchref=${{github.head_ref}}" | oc -n ca94a8-tools apply -f -
          oc -n ca94a8-test process -f openshift/server/dc.yaml -p "branchref=${{github.head_ref}}" | oc -n ca94a8-tools apply -f -
  
  deploy-to-prod:
    needs: [build,deploy-to-dev, deploy-to-test]
    environment:
      name: prod
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./app/.pipeline
    steps:

      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: "12"
      - name: Deploy the image
        run: |
          oc version
          oc login --token=${{ secrets.OPENSHIFT_TOKEN}} --server=${{ secrets.OPENSHIFT_SERVER_URL}}
          oc -n ca94a8-prod process -f openshift/client/dc.yaml -p "branchref=${{github.head_ref}}" | oc -n ca94a8-tools apply -f -
          oc -n ca94a8-prod process -f openshift/server/dc.yaml -p "branchref=${{github.head_ref}}" | oc -n ca94a8-tools apply -f -

  
